.container{
    text-align: -webkit-center;
}
.progress{
    height: 30px;
    background-color: #ddd;
    margin-top: 15%;
}
.progress-small{
    width: 100px;
}
.progress-large{
    width: 300px;
}
.progress-bar{
    text-align: center;
}
.per-txt-100{
    position: absolute;
    text-align: center;
    width: 100px;
    color:dimgrey;
    font-size: 10px;
    padding: 7px;
    font-weight: bold;

}
.per-txt-300{
    position: absolute;
    text-align: center;
    width: 300px;
    color:dimgrey;
    font-size: 10px;
    padding: 7px;
    font-weight: bold;

}
.per-txt-hide{
    display: none;
}